@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;700&family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --background: black;
  --text-color: hsl(213, 100%, 97%);
  --active-to: hsl(224, 3%, 46%);
  --font-family: "Lato", sans-serif;
}
